<div class="container">
  <h3>Atributos: </h3>
  <div class="row">
    <div class="col-sm-4" >
      <ul>
        <li>
          Nombre {{pokemons.nombres}}
        </li>
        <li>
          Apellido  {{pokemons.apellidos}}
        </li>
        <li>
          Fecha de nacimiento: {{pokemons.fechaNacimiento}}
        </li>
      </ul>

    </div>
    <div class="col-sm-3">
      <ul>
        <li>
          Licencia Valida: {{pokemons.campeonActual}}
        </li>
        <li>
         id: {{pokemons.id}}
        </li>
        <li>
          Numero medallas:  {{pokemons.numeroMedalla}}
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/07/08/15/sebastian-vettel.jpg" alt="" style="height: 200px; width: 300px">
    </div>
  </div>
</div>
